* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 2 / -1;
  height: 200px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / -1;
}

.side-menu ul {
  list-style-type: none;
  margin: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(1, 100px) repeat(5, auto) repeat(1, 100px);
  gap: 15px;
}

.main-area {
  padding: 20px;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.5fr 3fr;
  gap: 20px;
}

.project {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.annoucement-title {
  grid-column: 2 / 3;
  align-self: end;
}

.project-title {
  grid-column: 1 / 2;
  align-self: end;
}

.announcement {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.trending {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.trending-title {
  align-self: end;
}
