* {
  margin: 0;
  padding: 0;
}

.container {
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 2 / -1;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / -1;
}

.main-area {
  background-color: #e2e8f0;
}

.side-menu ul {
  list-style-type: none;
  margin: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(1, 100px) repeat(5, auto) repeat(1, 100px);
  gap: 15px;
}
